* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --primaria:rgb(37, 29, 100);
    --secundaria:rgba(97, 78, 167, 0.77);
    --claro: #cac9d3;
    --escuro:rgb(58, 58, 59);
    --maisEscuro: #030303;
    --transparente: rgba(3, 3, 5, 0.31);
  }


  body {
    background: var(--escuro);
    color: var(--claro);
  }
  

h1 {
    font-size: 3.5rem;
    color: var(--claro);
    font-weight: bold;
    margin: 1.25rem;

    & p {
        font-size: 1.5rem;
        color: var(--claro);
    }
}


#bg-video {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
